[user]
	email = 64868985+x0ba@users.noreply.github.com
	name = Daniel Xu
[credential]
	helper = cache --timeout 21600
	helper = oauth
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
