/** Basic config file **/

configuration {
  show-icons: true;
  icon-theme: "ePapirus-Dark";
  display-drun: "  ";
  display-window: " ";
  display-combi: "󰕘  ";
}
@theme "themes/sidetab-nord.rasi"
