@import url(//dablulite.github.io/css-snippets/ConsistentChatbar/import.css);

:root {
  --font-primary: "Fira Sans", sans-serif;
  --font-headline: "Fira Sans", sans-serif;
  --font-display: "Fira Sans", sans-serif;
  --font-code: "Fira Code", "Symbols Nerd Font", mono;
}

@media (max-width: 1024px) {
  nav[aria-label="Servers sidebar"] {
    display: none;
  }
  .platform-osx div[class^="base_"] > div[class^="content_"] > div[class^="sidebar_"],
  .platform-osx div[class^="base_"] > div[class^="content_"] > main[class^="container_"],
  .platform-osx div[class^="base_"] > div[class^="content_"] > div[class^="chat_"] {
    padding-top: 32px !important;
  }
}

@media (max-width: 768px) {
  div[class^="base_"] > div[class^="content_"] > div[class^="sidebar_"] {
    display: none;
  }
}

main[class^="chatContent_"] form div[class^="buttons_"],
main[class^="chatContent_"] form div[class^="attachWrapper_"] {
  display: none;
}
