:root {
  --font-primary: "Atkinson Hyperlegible", sans-serif;
  --font-headline: "Atkinson Hyperlegible", sans-serif;
  --font-display: "Atkinson Hyperlegible", sans-serif;
  --font-code: "MonoLisa", "Symbols Nerd Font", mono;
}

@media (max-width: 1024px) {
  nav[aria-label="Servers sidebar"] {
    display: none;
  }

  .platform-osx div[class^="base_"]>div[class^="content_"]>div[class^="sidebar_"],
  .platform-osx div[class^="base_"]>div[class^="content_"]>main[class^="container_"],
  .platform-osx div[class^="base_"]>div[class^="content_"]>div[class^="chat_"] {
    padding-top: 32px !important;
  }
}

@media (max-width: 768px) {
  div[class^="base_"]>div[class^="content_"]>div[class^="sidebar_"] {
    display: none;
  }
}
