{{ if eq .chezmoi.os "darwin" }}
font-size = 14
{{ else if eq .chezmoi.os "linux" }}
font-size = 12
{{ end }}

theme = catppuccin-macchiato

macos-titlebar-style = tabs
command = zsh
confirm-close-surface = false
window-padding-x = 10
window-padding-y = 10

